<% layout('boilerplate') -%>
<style>
    .card-text{
    display: -webkit-box;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>All Posts</h1>
            <% for(let p of posts){ %>
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title"><%= p.title %></h5>
                        <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
                        <p class="card-text"><%- p.spaced %></p>
                        <a href="/posts/<%= p._id %>" class="card-link">Read More</a>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>